<!DOCTYPE html>
<html>
  <head>
    <title>Kenneth's Blog</title>
  </head>
  </body>
    <h1>KENNETH'S BLOG</h1>
    <div><a href="/blog/display/home">[Home] </a><a href="/blog/new_post">[Create New Post] </a>
      {% if not logged_in %}
      <a href="/blog/signup/display"> [Create Account] </a>
      <a href="/blog/login">[Login] </a>
      {% else %}
      <a href="/blog/logout">[Logout] </a>
      {% endif %}
    </div>

    _________________________________
    {% block content %}
    {% endblock %}
  </body>
</html>
