{% extends "base.html" %}
{% block content %}
	{% for current_post in recent_blog_posts %}
  <div>__________________________________</div>
  <div><h3>{{current_post.post_subject}}</h3>
    <a href={{button_data[current_post.key.urlsafe()]["comment_uri"]}}>
      Comment on this Post</a></div>
  <br>
  <div>{{current_post.post_content}}</div>
  <br>
  <div>
    <form method="post">
      <button name="like_button"
       type="submit" value="{{current_post.key.urlsafe()}}">
       {{button_data[current_post.key.urlsafe()]["like_text"]}}</button>
       {{button_data[current_post.key.urlsafe()]["like_error"]}}
    </form>
  </div>
  <div>__________________________________</div>
  <br>
  {% endfor %}
{% endblock %}
