{% extends "base.html" %}
{% block content %}
	{% for current_post in recent_blog_posts %}

  <div> <a href="/blog/post_id/{{current_post.key.urlsafe()}}/display/display_post">
    <b>{{current_post.post_subject}}</b></a> </div>
  <div>{{current_post.post_content}}</div>
  <br>
  <table>
    <tr>
    <td>
      <form method="post" action="../post_id/{{current_post.key.urlsafe()}}/like_post/home">
        <button name="like_post"
         type="submit" value="{{current_post.key.urlsafe()}}">
         {{error_helper.get_like_text(current_post.key.urlsafe())}}</button>
      </form>
    </td>
    <td>
    <form method="get" action="./post_id/{{current_post.key.urlsafe()}}/comment/new/home">
      <button name="make_new_comment" type="submit"
      value="{{current_post.key.urlsafe()}}">
        Comment</button>

      </form>
    </td>
  </tr>
  </table>
  {{error_helper.get_error(current_post)}}
  <div>_________________________________</div>
  <br>
  {% endfor %}
{% endblock %}
