{% extends "new_post_base.html" %}

{% block comments %}
<h2>Comments</h2>
{% for comment in all_comments %}
  <div>=============</div>
  {{comment.author}}:
  <br>
  On: {{comment.date_created}}
  <div>=============</div>
  {{comment.content}}
  <div><form method="post">
    <button name="edit_comment" value="{{comment.key.urlsafe()}}" type="submit">
      Edit Comment</button>{{error_map[comment.key.urlsafe()]["edit_comment_error"]}}
  </div>
  <div><form method="post">
    <button name="delete_comment" value="{{comment.key.urlsafe()}}" type="submit">
      Delete Comment</button>{{error_map[comment.key.urlsafe()]["delete_comment_error"]}}
  </div>
  <div>=============</div>

{% endfor %}
{% endblock %}
