{% extends "base.html" %}
{% block content %}
    <div><em>{{current_post.post_author}}:</em></div>
    <div>{{current_post.post_subject}}</div>
    <div>{{current_post.post_content}}</div>
    <table>
      <tr>
        <td>
        <form method="post" action = "../like_post/display_post">
          <button name="like_post"
           type="submit" value="like_post_{{current_post.key.urlsafe()}}">
           {{like_text}}</button>
        </form>
      </td>
      <td>
        <form method="get" action = "../comment/new/display_post">
          <button name="comment_post" type="submit"
          value="comment_post_{{current_post.key.urlsafe()}}">
            Comment</button>
          </form>
      </td>
      <td>
        <form method="post" action = "../delete">
          <button name="delete_post" value="delete_post"
          type="submit">Delete Post</button>
        </form>
      </td>
      <td>
        <form method = "get" action = "../edit">
          <button name = "edit_post" value="edit_post"
            type="submit">Edit Post</button>
        </form>
      </td>
    </tr>
  </table>
{{error_helper.get_error(current_post)}}

		<div id="comment">
			{% block comments %}
			{% endblock %}
		</div>
{% endblock %}
