{% extends "base.html" %}

{% block content %}


<div>Author: {{current_post.post_author}}</div>
<div>Post title: {{current_post.post_subject}}</div>
<div>Post content: {{current_post.post_content}}</div>
<div>_________________________________</div>

<form method ="post">
  <h3>Type Your New Comment:</h3>
<textarea name="content">{{content}}</textarea>{{content_error}}<br>
<input type="submit">
</form>
<div> <a href="/blog/post_id/{{current_post.key.urlsafe()}}/display/display_post">
  Cancel</a></div>

{% endblock %}
