{% extends "new_post_base.html" %}

{% block comments %}
<h2>Comments</h2>
{% for comment in all_comments %}
  On: {{comment.date_created}}
  <br>
  {{comment.author}} said:
  <br>
  {{comment.content}}
  <table>
    <tr>
      <td>
        <form method="get" action="../comment/edit">
          <button name="comment_key"
          value="{{comment.key.urlsafe()}}" type="submit">
          Edit Comment</button>
        </form>
      </td>
      <td>
        <form method="post" action="../comment/delete">
          <button name="comment_key"
          value="{{comment.key.urlsafe()}}" type="submit">
          Delete Comment</button>
        </form>
      </td>
    </tr>
  </table>
{{error_helper.get_error(comment)}}
  <div>_________________________________</div>

{% endfor %}
{% endblock %}
