<!DOCTYPE html>

<html>
<head>
	<title>User Signup</title>
</head>
<body>
	<form method="post">
		<h2>Sign Up Please!</h2>
		User Name <input name="username" type="text" value="{{username}}"></input>{{username_error}}<br>
    Choose Password <input name="password" type="password" value=""></input>{{password_error}}<br>
    Re-Type Password <input name="pwd_verify" type="password" value=""></input>{{pwd_verify_error}}<br>
    Email Address <input name="email" type="text" value="{{email}}"></input>{{email_error}}<br>
		<br> <input type="submit">
	</form>
</body>
</html>
